.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 500px;
}

.carousel .slide img {
  height: 350px;
  width: 600px;
}

.control-dots {
  display: none;
}

.control-arrow {
  display: none;
}

.res-mobile-cards {
  display: none;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .res-carousel {
    display: none;
  }
  .res-mobile-cards {
    display: block;
  }
}
