.skills-img {
  width: 42px;
  height: 42px;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .res-skills-list li {
    font-size: 12px;
  }
}
