hr.new {
  border: 1px solid grey;
  width: 70%;
  margin: auto;
}

.res-follow {
  margin-top: 50px;
}

.res-phone-email {
  margin-bottom: 70px;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .res-follow {
    margin-top: 50px;
  }

  .res-phone-email {
    margin-bottom: 70px;
  }
}
