hr.new {
  border: 1px solid grey;
  width: 70%;
  margin: auto;
}

.res-phone-email {
  font-size: 16px;
}

.res-email {
  font-size: 21px;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .res-follow {
    margin-top: 50px;
  }
  .res-phone-email {
    font-size: 14px;
  }
  .res-email {
    font-size: 18px;
  }
}
