.App {
  background-color: #ebe6e6;
  padding: 40px 40px;
}

.App-header {
  color: white;
  /* border: 40px solid gray;   */
  border-radius: 35px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

@media all and (max-width: 688px) {
  .App {
    padding: 25px 25px;
  }
  .App-header {
    border-radius: 25px;
  }
}
