.profile-img {
  height: 350px;
  width: 350px;
  border-radius: 350px;
  border: 15px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.res-banner-img {
  display: flex;
  justify-content: center;
}
.res-top-banner {
  margin-top: 70px;
}
.res-banner-intro {
  margin-top: 40px;
}
.text {
  position: relative;
  overflow: hidden;
  width: 300px;
}
.fadingEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: white;
  -moz-animation: showHide 5s ease-in alternate infinite; /* Firefox */
  -webkit-animation: showHide 5s ease-in alternate infinite; /* Safari and Chrome */
  -ms-animation: showHide 5s ease-in alternate infinite; /* IE10 */
  -o-animation: showHide 5s ease-in alternate infinite; /* Opera */
  animation: showHide 5s ease-in alternate infinite;
}
@-webkit-keyframes showHide {
  /* Chrome, Safari */
  0% {
    width: 100%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes showHide {
  /* FF */
  0% {
    width: 100%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes showHide {
  /* IE10 */
  0% {
    width: 100%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes showHide {
  /* Opera */
  0% {
    width: 100%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes showHide {
  0% {
    width: 100%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/*-------------------------------------------------------------------------------*\
  ///////////////////////////// media query \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\*-------------------------------------------------------------------------------*/

/* @media all and (max-width: 688px) and (orientation: portrait) { */
@media all and (max-width: 688px) {
  .res-top-banner {
    margin-top: 0px;
  }
  .profile-img {
    height: 160px;
    width: 160px;
    border: 5px solid white;
  }
  .res-banner-img {
    margin-bottom: 30px;
    padding-top: 15px;
    /* border: 2px red solid; */
  }

  .text {
    width: 200px;
  }
  .res-names {
    display: grid;
    justify-content: center;
  }
  .res-name {
    text-align: center;
  }
  .res-designation {
    font-size: 14px;
    text-align: center;
  }
  .banner-text-justify {
    text-align: justify;
    font-size: 10px;
  }
  .res-banner-intro {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }
}
